
#printPref{
  font-size: 14px;
  width: 200px;
  margin: 0px;
  height: 360px;
  text-align:center;
  position: relative;
  vertical-align:middle;
}

/*input[type='submit']:hover {
  color: #0000FF;
  background: #FBEC5D;

}*/
